/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Nexa";
  src: url("fonts/nexa/Nexa-Heavy.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat-font/MontserratRegular-BWBEl.ttf");
}

header{
  background-color: white;
  border: 2px cadetblue;
  border-radius: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

nav {
  background-color: white;
  border: 2px cadetblue;
  border-radius: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 0 50px;
}

.logo {
  width: 100px;
}

.nav_links {
  padding: 5px 0;
  text-decoration: none;
  color: black;
}

.nav_links li {
  font-family: "Nexa";
  font-size: 24px;
  color: black;
  background-color: mediumseagreen;
  display: inline-block;
  margin: 0 15px;
  padding: 2px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid seagreen;
  border-radius: 30px;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: "Montserrat";
  color: White;
  line-height: 1.5;
  background-color: lightsteelblue;
}

.aboutUs {
  background-color: white;
  border: 2px solid cadetblue;
  border-radius: 5px;
  color: Gray;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#aboutusTitle {
  display: inline-block;
  text-align: left;
}

#aboutUsH2 {
  display: inline-block;
  text-align: right;
}

#aboutUsP {
  font-display: inline-block;
}

.main {
  width: 100%;
  background-color: White;
  border: 2px solid cadetblue;
  border-radius: 5px;
  color: Gray;
  margin-top: 5px;
  margin-bottom: 5px;
}

.main_text {
  margin: 10px;
}

/*footer for credits*/
footer {
  border-radius: 5px;
  width: 100%;
  text-align: center;
  color: Gray;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
}
/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: lightblue;
  text-decoration: underline;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nexa";
}

p {
  font-family: "Montserrat";
}

.banner {
  background-color: dimgray;
  background-image: url("images/GreenHome_Opening_Banner.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: auto, -10%;
  border-radius: 5px;
  padding-top: 5vw;
  padding-bottom: 5vw;
}

#bannerTitle {
  text-align: center;
  font-size: 300%;
}

#bannerText {
  text-align: center;
}

.solarTiles {
  display: inline-block;
  width: 49.83%;
  background-color: slategray;
  border: 2px solid darkslategray;
  border-radius: 5px;
  text-align: center;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: 200%;
  margin-top: 10px;
  margin-bottom: 10px;
}