/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Nexa";
  src: url("nexa/Nexa-Heavy.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("montserrat-font/MontserratRegular-BWBEl.ttf");
}

header{
  margin-top: 10px;
  margin-bottom: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-color: white;
  border-radius: 100px;
  padding: 0 50px;
}

.logo {
  width: 100px;
}

.nav_links {
  padding: 5px 0;
  text-decoration: none;
  color: black;
}

.nav_links li {
  font-family: "Nexa";
  font-size: 24px;
  color: black;
  display: inline-block;
  margin: 0 15px;
  padding: 0px 10px;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: "Montserrat";
  color: White;
  line-height: 1.5;
  background-color: MediumSeaGreen;
}

.aboutUs {
  background-color: white;
  border-radius: 5px;
  color: Gray;
}

.main {
  width: 100%;
  background-color: White;
  border-radius: 5px;
  color: Gray;
}

.main_text {
  margin: 10px;
}

/*footer for credits*/
footer {
  width: 100%;
  border-radius: 5px;
  text-align: center;
  color: Gray;
  background-color: white;
}
/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nexa";
}

p {
  font-family: "Montserrat";
}

.banner {
  background-color: dimgray;
  background-image: url("images/GreenHome_Opening_Banner.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: auto, -10%;
  border-radius: 5px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#bannerTitle {
  text-align: center;
  font-size: 300%;
}

#bannerText {
  text-align: center;
}

.solarTiles {
  display: inline-block;
  width: 49%;
  background-color: grey;
  border-radius: 5px;
  text-align: center;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: 200%;
}