header {
    background-color: silver;
    border: 2px tomato;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav {
    background-color: silver;
    border: 2px tomato;
    border-radius: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 50px;
}

.logo {
    width: 100px;
}

.nav_links {
    padding: 5px 0;
    text-decoration: none;
    color: black;
}
  
.nav_links li {
    font-family: sans-serif;
    font-size: 24px;
    color: black;
    background-color: tomato;
    display: inline-block;
    margin: 0 15px;
    padding: 2px 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 2px solid orangered;
    border-radius: 30px;
}

body{
    background-color:dimgray;
}

.main{
    width: 100%;
    background-color: silver;
    border: 2px solid tomato;
    border-radius: 5px;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    margin: 10px;
    font-weight: bolder;
}

p {
    font-family: sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: lightsalmon;
    text-decoration: underline;
    cursor: pointer;
}

footer {
    border-radius: 5px;
    width: 100%;
    text-align: center;
    color: gray;
    background-color: silver;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
}